<div class="container">

<div class="row">
Form...

<div class="col-md-12">
<form class="form">

    <div class="form-group">
        <label for="name">Employee Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="Employee.name" placeholder="Enter employee's name"/>
    </div>
    <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="Employee.email" placeholder="Enter employee's email address"/>
    </div>
    <div class="form-group">
        <label for="name">Phone</label>
        <input type="text" class="form-control" name="phone" [(ngModel)]="Employee.phone" placeholder="Enter phone number"/>
    </div>

    <div class="form-group">
        <label for="name">Department</label>
        <input type="text" class="form-control" name="department" [(ngModel)]="Employee.department" placeholder="Enter department"/>
    </div>

    <div class="form-group">
        <label for="name">Salary</label>
        <input type="text" class="form-control" name="salary" id="salary" [(ngModel)]="Employee.salary" placeholder="Enter salary"/>
    </div>

    <button type="submit" class="btn btn-success btn-lg" (click)="AddEmployee()">Add Employee</button>
    

</form>
</div>

</div>


</div>